<header class="header">
    <div class="header-container">
        <h1>VPN Dashboard</h1>
        <button id="logoutButton" class="logout" onclick="location.href='/logout';">
            <i class="fas fa-sign-out-alt"></i>Logout
        </button>
    </div>
</header>